.clear {
	clear: both;
}
.pull-right {
	float: right;
}
a {
	color: black; text-decoration: none;
}
a:hover {
	color: black; text-decoration: none;
}
li {
	list-style: none; font-size: 14px;
}
ul {
	text-align: left; padding-left: 8px;
}
img {
	border: 0px currentColor; border-image: none;
}
* {
	margin: 0px; padding: 0px;
}
html {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
body {
	background-position: top; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; background-color: rgb(213, 213, 213);
}
.wrapper {
	margin: 0px auto; width: 1000px; height: 100%; display: table; position: relative;
}
.main {
	margin: 0px auto; padding: 0px; width: 100%; overflow: hidden; display: table;
}
.mains {
	margin: 0px auto; width: 1000px; height: 100%;
}
.mains .title h2 {
	text-align: center; font-family: "黑体"; font-size: 20px;
}
.mains p {
	padding: 5px 20px 5px 10px;
}
.shangxiapian {
	background: rgb(244, 244, 244); padding: 25px; text-align: left; font-size: 14px;
}
.shangxiapian p {
	line-height: 25px; padding-top: 5px;
}
.shangxiapian1 {
	padding: 25px; text-align: left; font-size: 12px;
}
.articlelist ul.list li a {
	
}
.top .flag {
	background: url("../images/1png.jpg") no-repeat top; width: 1000px; height: 200px;
}
.top .nav-bar {
	background: url("../images/nav.jpg"); width: 1000px; height: 30px;
}
.nav1 {
	background: url("../images/nav1.jpg") no-repeat; width: 50px; height: 30px; padding-right: 20px; float: left;
}
.top ul.nav-list {
	margin: 0px; padding: 0px; height: 30px; color: white; line-height: 30px; letter-spacing: 1px; font-family: inherit; font-size: 16px; font-weight: bold; list-style-position: outside; position: relative;
}
.top ul.nav-list li {
	list-style: none; width: auto; padding-right: 40px; float: left; position: relative;
}
.top ul.nav-list li a {
	width: 100px; text-align: center; color: white; padding-top: 1px; text-decoration: none; float: left; text-shadow: 1px 1px 1px #888;
}
.top ul.nav-list li a:hover {
	background: url("../images/nava.jpg");
}
.nav-bar .divider {
	top: 0px; width: 2px; height: 46px; right: 0px; font-weight: normal; display: block; position: absolute;
}
.article a {
	width: 150px;
}
.content {
	margin: 0px auto; width: 100%; padding-top: 8px; padding-bottom: 8px; float: left; background-color: rgb(255, 255, 255);
}
.content .left {
	width: 650px; margin-left: 5px;
}
.content .right {
	width: 320px; margin-right: 10px; float: right;
}
.content .left1 {
	width: 220px; height: 450px; margin-right: 5px; margin-left: 5px;
}
.content .right1 {
	width: 750px; margin-right: 10px; margin-left: 5px; float: right;
}
.news {
	background: rgb(255, 251, 240); height: 230px;
}
.news .rows .border {
	padding: 10px 10px 5px 15px;
}
.news .rows .first {
	padding-bottom: 12px; border-bottom-color: rgb(87, 87, 87); border-bottom-width: 1px; border-bottom-style: dotted; float: left;
}
.news .rows .first img {
	margin: 3px 0px 0px 5px; width: 65px; height: 65px; float: left;
}
.news .rows .first .article {
	padding: 2px 0px 0px 15px; width: 260px; text-align: left; float: left;
}
.news .rows .first .article h3 {
	width: 100%; overflow: hidden; font-size: 15px; margin-bottom: 5px; white-space: nowrap;
}
.news .rows .first .article .summary a {
	color: rgb(134, 134, 134); line-height: 22px; font-size: 13px;
}
.news .title {
	background: url("../images/xwdt.jpg") no-repeat; height: 43px;
}
.trends .title {
	background: url("../images/xybs.jpg") no-repeat; height: 43px;
}
.team .title {
	background: url("../images/zyjs.jpg") no-repeat; height: 43px;
}
.sub-site .title {
	background: url("../images/xxbs.jpg") no-repeat; height: 43px;
}
.trends {
	background: rgb(255, 251, 240); height: 195px; margin-top: 10px;
}
.trends .rows .border {
	padding: 10px 10px 5px 15px;
}
.trends .rows .first {
	padding-bottom: 12px; border-bottom-color: rgb(87, 87, 87); border-bottom-width: 1px; border-bottom-style: dotted; float: left;
}
.trends .rows .first img {
	margin: 3px 0px 0px 5px; width: 65px; height: 65px; float: left;
}
.trends .rows .first .article {
	padding: 2px 0px 0px 15px; width: 260px; text-align: left; float: left;
}
.trends .rows .first .article h3 {
	width: 100%; overflow: hidden; font-size: 15px; margin-bottom: 5px; white-space: nowrap;
}
.trends .rows .first .article .summary a {
	color: rgb(134, 134, 134); line-height: 22px; font-size: 13px;
}
.team {
	background: rgb(255, 251, 240); height: 230px;
}
.team .rows ul.list li {
	overflow: hidden; white-space: nowrap;
}
.team .rows ul.list li img {
	width: 78px; height: 108px; float: left;
}
.team .rows ul.list li .des {
	padding: 30px 10px 0px 15px; width: 118px; float: left; cursor: pointer;
}
.team .rows ul.list li .des .summary {
	padding-top: 10px;
}
.sub-site {
	background: rgb(255, 251, 240); height: 195px; margin-top: 10px;
}
.sub-site ul.list .sub1 {
	background-position: 0px 2px;
}
.sub-site ul.list .sub2 {
	background-position: 0px -36px;
}
.sub-site ul.list .sub3 {
	background-position: 0px -76px;
}
.sub-site ul.list .sub4 {
	background-position: 0px -111px;
}
.sub-site ul.list .sub5 {
	background-position: 0px -150px;
}
.sub-site ul.list .sub6 {
	background-position: 0px -189px;
}
.jianjie p {
	margin: 10px; text-align: left; line-height: 28px; font-size: 14px;
}
.pages li a {
	width: 620px !important;
}
ul.list li a {
	background: url("../images/022_3.gif") no-repeat 0px 3px; overflow: hidden; padding-left: 12px; margin-bottom: 10px; float: left; white-space: nowrap;
}
.resource .rows ul.list li a {
	background: url("../images/022_3.gif") no-repeat 0px 3px; overflow: hidden; padding-left: 12px; margin-bottom: 10px; float: left; white-space: nowrap;
}
.study .rows ul.list li a {
	background: url("../images/022_3.gif") no-repeat 0px 3px; overflow: hidden; padding-left: 12px; margin-bottom: 10px; float: left; white-space: nowrap;
}
.practice .rows ul.list li a {
	background: url("../images/022_3.gif") no-repeat 0px 3px; overflow: hidden; padding-left: 12px; margin-bottom: 10px; float: left; white-space: nowrap;
}
.time {
	font-size: 14px; margin-bottom: 10px; float: right;
}
.times {
	text-align: center; font-size: 14px;
}
.slide {
	background: url(".../images/center.gif") no-repeat; width: 960px; height: 119px; margin-top: 10px;
}
.friend-link {
	border: 1px solid rgb(255, 235, 193); border-image: none; height: 250px; margin-top: 10px;
}
.friend-link .rows ul.list {
	padding: 10px; text-align: left; font-size: 14px;
}
.friend-link .rows ul.list li {
	height: 28px; overflow: hidden; white-space: nowrap;
}
.maincon {
	margin-right: 10px; margin-left: 10px;
}
.column {
	float: left;
}
.column .rows {
	width: 100%; float: left;
}
.column ul {
	width: 94.5%; float: left;
}
.column .more {
	color: rgb(34, 34, 34); padding-right: 8px; font-size: 13px; float: right;
}
a.more:hover {
	color: rgb(0, 0, 0);
}
.bottom {
	background: rgb(177, 2, 0); margin: 0px auto; width: 100%; padding-bottom: 0px; float: left;
}
.bottom .divider {
	top: 0px; width: 2px; height: 46px; right: 0px; font-weight: normal; display: block; position: absolute;
}
.bottom .info {
	background: rgb(177, 2, 0); padding: 8px 0px 10px; width: 100%; color: rgb(238, 238, 238); font-size: 13px; float: left;
}
.bottom .copyright {
	padding: 16px 0px 10px; text-align: center;
}
.bottom .nav a {
	margin: 0px 30px;
}
.articlelist {
	height: auto;
}
.left1 .title {
	background: url("../images/xgwy.jpg") no-repeat; height: 43px;
}
.right1 .title {
	background: url("../images/wylb.jpg") no-repeat; height: 43px;
}
.left1 .column .article {
	background: rgb(255, 246, 237);
}
.news01 {
	padding-bottom: 10px; font-size: 14px;
}
.newstime {
	padding-bottom: 10px; font-size: 14px;
}
.newsimg {
	padding-bottom: 10px; font-size: 14px;
}
.column .more {
	padding-top: 10px;
}
